.backImg {
	background-image: url("../images/voltron.jpg");
	float: right;
	float: top;
	background-size: 120% 120%;
	background-repeat: no-repeat;
	height: 600px;
	width: 30%;
}
.digits {
	text-align: center;
}
.headline {
	text-align: center;
}
.questions {
	text-align: center;
}