.backImg {
	background-image: url("../images/voltron.jpg");
	float: right;
	background-size: 350px 600px;
	background-repeat: no-repeat;
	height: 600px;
	width: 30%;
}
.jumbotron {	
	float: left;	
	width: 70%;
	height: 600px;
	text-align: center;
}
